.columnHead {
  display: flex !important;
  align-items: center !important;
  margin: 1rem 0 !important;
}

.columnDetails {
  display: flex !important;
  flex-direction: column !important;
}

.provider {
  font-size: x-large !important;
  margin: 0 !important;
}

.deal {
  font-size: small !important;
  color: rgb(0, 0, 0, 0.5) !important;
  margin: 0 !important;
}

.logo {
  height: 3.5rem !important;
  margin-right: 0.5rem !important;
}
