.rowHead {
  font-size: 1.1rem !important;
  display: flex !important;
  align-items: center !important;
}

.row > * {
  line-height: 1px !important;
}

.row p {
  font-size: small !important;
}

.logo {
  height: 4rem !important;
  margin: 0 1rem !important;
}

.price {
  font-size: 1.1rem !important;
  color: #006cbe !important;
}

.button {
  text-transform: none !important;
  border-radius: 1rem !important;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25) !important;
}
