.tableTitle {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  font-size: x-large !important;
}

.closeButton {
  border-radius: 50% !important;
  font-size: 1.75rem !important;
  color: rgb(0, 0, 0, 0.5) !important;
}

.closeButton:hover {
  background-color: white !important;
}
