.popupWindow > * > * {
  padding: 0 1rem 5rem 1rem !important;
}

.tableHeadRow > * {
  padding: 1rem 0 !important;
}

.tableTitle {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-size: x-large !important;
}

.tableRow > * {
  padding: 0.5rem !important;
}

.closeButton {
  border-radius: 50% !important;
  font-size: 2rem !important;
  color: rgb(0, 0, 0, 0.5) !important;
}

.closeButton:hover {
  background-color: white !important;
}

.removeButton {
  color: rgb(0, 0, 0, 0.5) !important;
  text-decoration: underline !important;
  text-transform: none !important;
  padding: 0 !important;
}

.removeButton:hover {
  background-color: white !important;
}
