.comparison {
  border-radius: 0.5rem !important;
  border: 0.5px solid rgb(0, 0, 0, 0.25) !important;
  display: flex !important;
  align-items: center !important;
  margin: 2rem 0.5rem !important;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25) !important;
}

.logo {
  height: 3rem !important;
  margin: 0.5rem;
}

.deal {
  display: flex !important;
  flex-direction: column !important;
}

.deal > * {
  margin: 0.25em !important;
}

.deal > h6 {
  font-size: small !important;
}

.deal > p {
  font-size: small !important;
}

.deleteButton {
  border-radius: 50% !important;
  font-size: 1.75rem !important;
  color: rgb(0, 0, 0, 0.5) !important;
}

.deleteButton:hover {
  background-color: white !important;
}
